<div class="user-details">
  <h1>About me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div id="resume">
	<h2>Education</h2>
		<b>University of Wisconsin-Madison</b> (September 2013–May 2016)<br>
		Bachelor of Science in Computer Science<br>
	<h2>Experience</h2>
		<b>Appian</b> (May 2021–Present)<br>
		Senior Information Developer
		<ul>
			<li>Lead low-code developer documentation and product language guidelines as Process Mining Head Writer</li>
			<li>Collaborate with a team of 15 tech writers to write and maintain nearly 2000 docs</li>
			<li>Create public feature docs, installation guides, architecture overviews, release notes, and internal documentation in Markdown with a Docs as Code workflow</li>
			<li>Provide thoughtful reviews of other writers’ documentation based on our style guide and best practices</li>
			<li>Embed within engineering teams to understand technical product details from developers and product owners about complex topics like process mining and AI</li>
			<li>Design technical diagrams and graphics to explain concepts, software architecture, and use cases</li>
			<li>Implement Liquid, DataTables, and other technologies into our docs to create dynamic and maintainable content like our searchable glossary and conditional content</li>
			<li>Develop internal tools for tech writers such as a content planning application that increases visibility into our workflow and streamlines processes across the team</li>
			<li>Write UX content, performed UX content consultations, and created UX content standards</li>
			<li>Promoted from Information Developer II to Senior Information Developer</li>
			<li>Received Top Performer 2021 award for exceeding performance expectations</li>
		</ul>
		<b>Fast Enterprises</b> (June 2016–May 2021)<br>
		Technical Writer
		<ul>
			<li>Supervised four technical writers to create developer documentation for an integrated software suite</li>
			<li>Tracked and monitored new development and delegated documentation tasks</li>
			<li>Researched new features and configuration details through early builds and SME interviews</li>
			<li>Reviewed, documented, and released service pack updates for the software</li>
			<li>Documented new product features in release notes</li>
			<li>Enforced documentation standards for an internal code repository and version control system</li>
			<li>Performed UX reviews with developers across multiple areas of the software</li>
		</ul>
		<b>TDS Telecom</b> (December 2014–May 2016)<br>
		IT Architect Intern
		<ul>
			<li>Created reference architecture documents for the wireline and cable businesses</li>
			<li>Contributed to software requirement specification documents</li>
		</ul>
		<h2>Skills</h2>
		<ul>
			<li>Technical communication with text and graphical content</li>
			<li>Familiarity with modern infrastructure such as IaaS cloud services and containers</li>
</div>
